


<form method="post">
<table class="listEvent" cellpadding="0" cellspacing="0" >
	<tr>
		<td>Titulo:</td><td><input type="text" name="txtTitle" value="{{event.title}}"/></td>
	</tr>
	<tr>
		<td>Fecha:</td><td><input type="text" name="txtDate" value="{{event.date}}"/></td>
	</tr>
	<tr>
		<td>Lugar:</td><td><input type="text" name="txtPlace" value="{{event.place}}"/></td>
	</tr>
	<tr>
		<td>Hora:</td><td><input type="text" name="txtTime" value="{{event.time}}"/></td>
	</tr>
	<tr>
		<td>Descripci&oacute;n:</td><td><input type="text" name="txtDescription" value="{{event.description}}"/></td>
	</tr>
	<tr>
		<td><input type="submit" name="btnUpdateEvent" value="Modificar Evento"/></td>
	</tr>
	
</table>
</form>
